a {
}

a:hover {
}

.dynamic_pannel {
	position: absolute;
	background-color:gainsboro;
	width: 20%;
	height: 15%;
	border: 2px solid green;
	top:30%;
	left:40%;
	padding:10px;
	display:none;
}

.close_dynamic_pannel {
	position: absolute;
	background-color:gainsboro;
	width: 20px;
	height: 20px;
	top:30%;
	left:60%;
	display:none;
	cursor:default;
	border: 1px solid black;
	text-align:center;
}

.dynamic_pannel.error {
	border: 2px solid red;
}
